body {
  margin-bottom: 0px; 
  text-align: center;
  height: 100%;
  background-color: #f9f6f7;
}

.brand {
    height: 30px;
    width: 70px;
}

.home-img {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    color: rgb(236, 240, 27);
    text-shadow: 2px 2px 4px #000000;
  }

  
.btn-warning{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100px;
  height: 50px;
}

.gallery-container {
  margin: auto;
  margin-top: 50px;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 200px;
  height: 170px;
  display: inline-block;
}
.gallery-img {
  width: 200px;
  height: 80px;
}

.gallery:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}

.login-signup {
  position: absolute;
  right: 20px;
}